<div class="wrap">
    <div class="controls center">
        <button class="btn prev"><i class="icon-chevron-left"></i> Précédent</button>
        <button class="btn next">Suivant <i class="icon-chevron-right"></i></button>
    </div>
    <div class="frame" id="centered">
        <ul class="clearfix">
            <li>
                <a href="/resultat/K_Law"><img class="img-perso img-responsive" src="/images/vignettes/vignette-droit.jpg"/><h1>Droit</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-geo.jpg"/><h1>Géographie et urbanisme</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-histoire.jpg"/><h1>Histoire et religion</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-anglo.jpg"/><h1>Langues et littératures anglophone</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-antiquite.jpg"/><h1>Langues et littératures de l'antiquité</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-fr.jpg"/><h1>Langues et littératures françaises </br>et francophone</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-germano.jpg"/><h1>Langues et </br>littératures germanophones</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-hispano.jpg"/><h1>Langues et </br>littératures hispanophones</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-italie.jpg"/><h1>Langues et littératures italienne </br>et roumaine</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-orient.jpg"/><h1>Langues et </br>littératures orientales</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-luso.jpg"/><h1>Langues et </br>littératures lusophones</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-philo.jpg"/><h1>Philosophie</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-psycho.jpg"/><h1>Psychologie</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-eco.jpg"/><h1>Sciences économiques </br>et gestion</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-education.jpg"/><h1>Sciences de l'éducation</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-langage.jpg"/><h1>Sciences du langage</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-infocom.jpg"/><h1>Sciences de l'information </br>et de la communication</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-sciencespo.jpg"/><h1>Sciences politiques</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/socio-et-ethno.jpg"/><h1>Sciences et ethnographie</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-sciences.jpg"/><h1>Sciences et techniques</h1></a>
            </li>
            <li>
                <a href="#"><img class="img-perso img-responsive" src="/images/vignettes/vignette-staps.jpg"/><h1>STAPS</h1></a>
            </li>
        </ul>
    </div>
    <br>
    <div class="scrollbar">
        <div class="handle">
            <div class="mousearea"></div>
        </div>
    </div>
</div>
</div>