<header>
    <br>
    <div class="container text-center">
        <div class="col-sm-3">
            <img class="img-responsive" src="/images/logop10.jpeg" alt="Brand">
        </div>
        <div class="col-sm-9">
            <h1>Etagère Virtuelle</h1>
        </div>
    </div>
    <br>
</header>

