<!DOCTYPE html>
<html lang="fr">
<head>
  <title><%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap, JQuery, JQueryUI -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Css Perso -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Carroussel -->
  <script src="http://darsain.github.io/sly/js/sly.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/carrousel.css">
  <script src="/javascripts/carrousel.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <% include partials/header.ejs%>
  </div>
  <div class="row">
   <% include partials/search.ejs%>
    <% include partials/carrousel.ejs%>
  </div>
  <% include partials/footer.ejs%>
</div>

</body>
</html>
