.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
    position: relative;
    margin: 3em 0;
}

/* Scrollbar */
.scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;
}
.scrollbar .handle {
    width: 100px;
    height: 100%;
    background: #292a33;
    cursor: pointer;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* Frame */
.frame {
    height: 400px;
    line-height: 250px;
    overflow: hidden;
}
.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
}
.frame ul li {
    float: left;
    width: 400px;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}
.frame ul li.active {
    color: #fff;
    background: #a03232;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }
.icon-chevron-left:before {
    content: "\f053";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
}
.icon-chevron-right:before {
    content: "\f054";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
}

/* Image */
.img-perso
{
    margin-left: auto;
    margin-right:auto;
    width: 240px;
    height: 240px;
}